.footer{
    padding-top: 10px;
    border-top: 4px solid var(--primary-color);
}
.grid__column-footer{
	padding-left: 12px;
	padding-right: 12px;
	width: 33.3333%;

}
.grid__column-footer p{
    font-size: 1.6rem;
    color: var(--text-color);
    padding-top: 5px;
    display: block;

}
.heading-footer{
    font-size: 2rem;
}
.footer-list{
    padding-left: 0;
    list-style: none;
    font-size: 2rem;
}

.footer-link{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
    padding-top: 10px;
    display: block;
    
}