.header-search {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
  }
  
  .header-search-input {
    border: none;
    outline: none;
    background: transparent;
    margin-right: 5px;
    width: 90%;
  }
  
  .header-search-btn {
    text-decoration: none;
  }
  
  .header-search-btn-img {
    width: 20px;
    height: 20px;
  }
.header-search-btn {
    border: none;
    outline: none;
    
}
.header-search-clear{
    border: none;
    outline: none;
    color: #a5a5a5;

}
