.header-menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.header-menu-item{
    display: inline-flex;
    font-size: 1.8rem;
    padding: 15px;
    
    
    
}
.header-menu-item-link{
    text-decoration: none;
    align-items: center;
    color: var(--text-color);
    border: none;
    outline: none;
    background-color: var(--primary-color);


}
.header-menu-item-link:hover{
    color: red;
    cursor: pointer;
}